<config>
    <dl_parameters>
        <model_name>heart_disease_test</model_name>
        <model_string>MLP</model_string>
        <layers>2</layers>
        <batch_size>32</batch_size>
        <epochs>50</epochs>
        <dropout_rate>0.0</dropout_rate>        
        <hidden_size>128</hidden_size>
        <embedding_size>1000</embedding_size>        
        <learning_rate>0.01</learning_rate>
        <momentum>0.9</momentum>
        <optimiser>adam</optimiser>        
        <init_mode>uniform</init_mode>        
        <activation1>relu</activation1>
        <activation2>sigmoid</activation2>
        <loss>mean_squared_error</loss> 
        <evaluation_metrics>['accuracy']</evaluation_metrics>
        <weight_constraint>5</weight_constraint>        
        <prediction>classification</prediction>
    </dl_parameters>
    <dataset>
        <path>cleveland.txt</path>
        <weights_out>cleveland-out.h5</weights_out>        
    </dataset>
    <x_setup>
        <train>True</train>
        <hyperparameters>True</hyperparameters>
        <verbose>False</verbose>        
        <multithreaded>True</multithreaded>        
        <gpu>False</gpu>        
    </x_setup>    
    <hyperparameter_setup>
        <search>random</search>
        <cross_validation_folds>5</cross_validation_folds>
        <n_iter>5</n_iter>        
        <verbose>True</verbose>
        <logging>True</logging>        
    </hyperparameter_setup>     
</config>
